<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Starter Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
    <style>
    body {
      padding-top: 70px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
    </style>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DJANGO EMI CALCULATOR</a>
        </div>
      </div>
    </div>
    <div class="container">
   <h3> EMI calcualtor used for Instant calculation of Loan EMI , Total Interest Payable and Total Payments to be done.
and also for Banks like HDFC, ICICI, SBI, AXIS Banks,calculating Home loans, Personal Loan, car loans , credit card, LIC loan etc.</h3>
   <div class="row">
         <div class="starter-template col-sm-8">
   <h8>Enter <mark>Interest Rate</mark>, Remaining <mark>Loan Amount</mark> and Enter the <mark>payment period</mark> Day/month on which your emi is deducted and click on <mark>Calculate EMI</mark> to get your emi payment.</h8>

   <form class="form-horizontal" role="form" method="post" action="/mains/">{% csrf_token %}
     <div class="form-group">
    <label for="loanAmount" class="col-sm-2 control-label"><strong> Loan Amount :<strong/></label>
	<div class="col-sm-10">
		<input type="text"  class="form-control" id="loanAmount"  name="loanAmount" placeholder="Enter Loan Amount in Rupees (₹) " value="">
                

	</div>
  </div>
     <div class="form-group">
       <label for="intrate" class="col-sm-2 control-label"><p><strong>Interest Rate :<strong/></p></label>
   	<div class="col-sm-10">
   		<input type="text" class="form-control" id="intrate"  name="intrate" placeholder="Enter Interest Rate in ( % ) percentage" value="">
   	</div>
     </div>
     <div class="form-group">
   <label for="period" class="col-sm-2 control-label"><strong>Payment Period :<strong/> </label>
<div class="row">
    <div class="col-sm-7">
            <input type="text" class="form-control" id="period"  name="period" placeholder="Enter the payment period in Month/Year " value=""> 
    </div>
    
    <div class="btn-group">
  <button type="button" class="btn btn-primary">Year</button>
  <button type="button" class="btn btn-primary">Month</button>
  
</div>

</div>
             
</div>
</div>
</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
       <a href="/mains/"><button type="submit" class="btn btn-success btn-md">Calculate EMI</button>
       <a href="/main/"><button type="submit" class="btn btn-danger btn-md">Reset</button>
    </div>
  </div>
</form>
